/* reseta as formatações originais do navegador
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body/*seletor de tag*/{
    background-color: #5B913B/*muda a cor do fundo*/; 
    font-family: arial;
}

#col/*seletor de id*/{
    background-color: #FFE8B6;
    width: 400px/*aumenta a largura da div*/;
    text-align: center/*alinha o texto contido para o centro*/;
    padding-top /*aumenta o espaçamento para cima na col*/: 10px;
    padding-left/*aumenta o espaçamente  para a esquerda na col*/: 38px;
    padding-right/*aumenta o espaçamente  para a direita na col*/ : 38px;
    padding-bottom/*aumenta o espaçamente para baixo na col*/: 38px;
    box-shadow: 0px 4px 4px 0px rgb(8, 0, 0, 0.5);
    
}

.titulo/*seletor de classe*/{
    font-family:'Trebuchet MS';
    font-size: 32px/*define o tamanho da fonte*/;
    margin-top/*aumenta o espaçamento de uma margem para cima*/: 14px;
    margin-bottom/*aumenta o espaçamento de uma margem para baixo */: 12px;
    font-weight/*modifica os caracteres */: bold;
    
}
.texto{
    font-size: 18px;
    font-weight: bold;
    font-family: Arial;
}

.pedido{
    margin-top: 32px;
    font-family: Arial;
    text-align: left;
}
.rotulo{
    font-weight: bold;
    font-family: Arial;
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
}
.campo-texto{
    width: 100%;
    font-family: Arial;
    font-size: 16px;
    color: #434343;
    padding: 7px 13px;
    margin-bottom: 16px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
}

.botao-reservar{
    width: 100%;
    background-color: #5B913B;
    color: white;
    line-height: 150%;
    padding-top: 6px;
    padding-bottom: 6px ;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

#col2{
    width: 800px;
    margin-left: 39px;    
}

.oferta{
    font-size: 38px;
    font-family:'Trebuchet MS';
    font-weight: bold;
    color: #FFE8B6;
}

.destaque{
    color: #D99D81;
}

.texto-oferta{
    font-size: 18px;
    margin-top: 10px;
    font-family: Arial;
}

.tudo{
    display:  flex;
    align-items: center ;
    justify-content: center;
    height: 100vh;   
}